// Custom styles.

.tag-cloud-tags a:hover {
    color: #222 !important;
}

code {
    color: #F44336;
}

.-mob-share-ui, .-mob-share-ui ul.-mob-share-list, .-mob-share-ui ul.-mob-share-list li {
    display: inline-block;
}

img[src$="centerme"] {
    display:block;
    margin: 0 auto;
}

.iframeWrapper {
    position: relative;
    padding-top: 32px;
    height: 0;
}
.iframe1610 {
    padding-bottom: 62.5%; /* 16:10 */
}
.iframe169 {
    padding-bottom: 56.25%; /* 16:9 */
}

.iframeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#vimeo-video {
    line-height: 0;
}
#vimeo-video .fluid-vids {
    padding-bottom: 8%;
}

.ads {
    margin: 80px auto 0 auto;
}